@font-face {
    font-family: 'Circular Std Black';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/CircularStd-Black.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/CircularStd-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Book';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/CircularStd-Book.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Medium';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/CircularStd-Medium.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
    font-family: 'Circular Std Book';
}

h1 {
    font-family: 'Circular Std Black';
    font-size: 4em;
}

.navbar {
    background: none;
    padding: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar-nav {
    position: absolute;
    padding-top: 20px;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler:focus {
    border: none;
    outline: none;
}

.first-page {
    background-color: white;
    color: #090C08;
    height: 100vh;
    max-width: 100%;
    width: 100vw;
}

.h-center {
    margin: 0;
}

.v-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.modal {
    position: absolute !important;
}

.modal-dialog {
    margin: 0 auto;
    max-width: 100%;
    width: 100vw;
}

.modal-content {
    border: none;
    border-radius: 0;
}

.close {
    margin: 50px;
    position: absolute;
    right: 0;
    z-index: 1;
}

.bottom-left {
    bottom: 20px;
    left: 20px;
    line-height: 3;
    position: fixed;
    text-align: center;
}

.social-media-icon {
    color: #090C08;
    font-size: 24px;
}

#social-media-icons {
    list-style: none;
}

@media only screen and (max-width: 1180px) {
    .bottom-left {
        display: none;
    }
}

@media only screen and (max-width: 580px) {
    h1 {
        font-size: 3em;
    }
}